*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

main{

    width: 100%;
    height: 100%;
    
}

header{
    height: 10%;
    width: 100%;
    
    background-color: rgb(0, 0, 0);
     display: flex;
    flex-direction: row;
    padding-top: 15px;

}

.links{
    text-decoration: none;

    font-size: 45px;
    color: white;
    padding: 45px ;
    font-family: "Sixtyfour", sans-serif;
    font-weight: 500;
    padding-top: 10px;
    border: 2px solid white;
    border-radius: 60px
}


nav{  display: flex;
  gap: 20px;

}


section{
    margin-top: 3%;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3%;
    
}
.sect1{
    
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 25%;
    color: white;
    
     
     

}

.sect2{
    margin-top: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 25%;
     color: white;
     

}

.sect3{
    margin-top: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 25%;
     color: white;
     
     

}

.sect4{
   margin-top: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 25%;
     color: white;
    
     

}

.img{

    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1768005419000-d53e45851b50?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    border: 5px solid white;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}
.para{
    height: 100%;
    width: 70%;
    font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  border: 5px solid white;
  border-radius: 10px;
}

footer{
    height: 10%;
    width: 100%;
}



}

